.container {
  display: flex;
  align-items: center;
}

.input {
  padding-left: 18px;
  max-width: 1023px;
}

.field {
  height: 48px;
  font-family: 'Inter', sans-serif;
  background: #f3f3f3;
}

.icon {
  padding-right: 4px;
  width: 28px;
  height: 28px;
}
