.tableRoot {
  :global(.ant-checkbox) {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #b2b3b9 !important;
  }

  :global(.ant-checkbox::after) {
    width: 22px;
    height: 22px;
    color: #3c538e;
    display: none;
  }

  :global(.ant-table-row.ant-table-row-selected > td:first-child) {
    border-left: 3px solid #3c538e;
    text-align: left;
  }

  :global(.ant-table-selection-column) {
    border-left: 3px solid transparent;
    text-align: left !important;
  }

  :global(.ant-checkbox-wrapper) {
    margin-left: 7px;
  }

  :global(.ant-checkbox-checked) {
    background: #3c538e;
  }

  :global(.ant-checkbox-checked:hover) {
    background: #3c538e !important;
  }

  :global(.ant-table-tbody .ant-table-cell) {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  :global(.ant-table-column-sorter) {
    display: none;
  }

  :global(.ant-table-thead th:first-child) {
    padding-right: 4px !important;
    width: 59px !important;
    padding-bottom: 23px;
  }

  :global(.ant-table-tbody td:first-child) {
    padding-right: 4px !important;
    width: 59px !important;
  }

  :global(.ant-table-column-title) {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
  }

  :global(.ant-table-cell) {
    text-align: center;
  }

  .nameColumn {
    text-align: left;
  }
}

.headerCell {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-top: 11px;
  padding-bottom: 22px !important;
  color: #b2b3b9 !important;
  font-family: 'Cairo', sans-serif;
  font-weight: 700 !important;
  font-size: 16px;

  &::before {
    display: none;
  }
}

.nameColumn {
  padding-left: 0px !important;
}

.nameHeaderCell {
  padding-left: 0px !important;
}

.skuCell,
.skuHeaderCell,
.ratingCell,
.ratingHeaderCell,
.priceCell,
.priceHeaderCell,
.ant-table-column-title,
.vendorCell {
  text-align: center !important;
  font-size: 16px;
}

.tableRoot:global(.ant-table-wrapper.ant-table-css-var),
.tableRoot :global(.ant-table.ant-table-css-var) {
  --ant-table-header-bg: transparent;
  --ant-table-row-selected-bg: transparent;
  --ant-table-header-sort-active-bg: transparent;
}

.nameCell {
  display: flex;
  align-items: center;
}

.thumbContainer {
  margin-right: 16px;
}

.thumb {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #ececeb;
}

.thumbPlaceholder {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #ececeb;
  background: #c4c4c4;
}

.title {
  font-size: 16px;
  color: #161919;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}

.sub {
  font-size: 14px;
  color: #b2b3b9;
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
}

.ratingBad {
  color: #f11010;
  font-family: 'Open Sans', sans-serif;
}

.ratingOk,
.ratingNumber {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.plusButton,
.dotsButton {
  border: none;
  outline: none;
  box-shadow: none !important;
  height: 27px !important;

  &:hover {
    border: none !important;
  }

  &:disabled {
    border: none !important;
  }

  & > span {
    height: 27px;
  }
}

.dotsButton {
  height: 32px !important;
  background: none;

  & > span {
    height: 32px;
  }
}

.vendorCell {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.priceCell {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.skuCell {
  font-family: 'Open Sans', sans-serif;
}

.priceValue {
  color: #222222;
}

.priceFraction {
  color: #999999;
}

.priceCurrency {
  color: #2d2d2d;
}

.totalText {
  color: #969b9f;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: block;
  margin-top: 2px;
}

.totalStrong {
  color: #333333;
}

.paginationRoot {
  margin-top: 48px !important;
  margin-bottom: 41px !important;
  display: flex;
  gap: 0 8px;

  :global(.ant-pagination-item) {
    border-radius: 4px;
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    border: 1px solid #ececeb;
    color: #b2b3b9;
    margin: 0;

    &:first-child {
      background: #797fea;
      border-color: #797fea;
    }
  }

  :global(.ant-pagination-item a) {
    color: #b2b3b9;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
  }

  :global(.ant-pagination-item-active) {
    background: #242edb;
    border-color: #242edb;

    & a:hover {
      color: #fff;
    }
  }

  :global(.ant-pagination-item-active a) {
    color: white;
  }

  :global(.ant-pagination-prev),
  :global(.ant-pagination-next) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b2b3b9;
    margin: 0;
  }

  :global(.ant-pagination-total-text) {
    margin-right: auto;
  }
}
